// Import Bootstrap icons
@use '../../node_modules/bootstrap-icons/font/bootstrap-icons.scss' with (
  $bootstrap-icons-font-dir: '/node_modules/bootstrap-icons/font/fonts'
);

// Customize Bootstrap
$primary: #11AD00;
$secondary: #94005F;
$border-radius: 0.2rem;
$display-font-family: Nunito;
$display-font-sizes: (
  1: 6rem,
  2: 5.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
);
$btn-link-color: #0A6100;
$form-range-thumb-width: 1.5rem;


@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/variables-dark';

$form-range-thumb-bg: var(--#{$prefix}secondary);
$form-range-thumb-active-bg: tint-color($secondary, 40%);
$form-range-track-bg: var(--#{$prefix}info-bg-subtle);

$custom-grid-breakpoints: (
    md: 700px,
    lg: 1000px,
);

$custom-container-max-widths: (
    md: 680px,
    lg: 970px,
);

$grid-breakpoints: map-merge($grid-breakpoints, $custom-grid-breakpoints);
$container-max-widths: map-merge($container-max-widths, $custom-container-max-widths);

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
