// variabile meniu
body {
    --inaltime-meniu: 40px;
    --latime-buton: 100%;
}

// icon meniu
#hamburger {
    display: flex;
    margin-left: var(--spatiere-laterala);

    @for $i from 1 through 3 {
        .icon div:nth-child(#{$i}) {
            animation: afisare_hamburger 0.5s linear $i * 100ms backwards;
        }
    }
}

// repozitionare meniu
nav {
    position: absolute;
}

// stiluri container
ul.meniu {
    display: none;
    flex-direction: column;
    max-height: 100vh;
    overflow: auto;
    transform-origin: left top;

    // afisare meniu
    #ch-meniu:checked + & {
        display: block;
        animation: afisare_meniu 0.5s linear;
    }

    // element meniu
    li {
        height: unset;
        border: 1px solid var(--culoare-border);

        // efect hover
        &:hover {
            background-color: var(--culoare-text);

            // afisare submeniu pe hover
            > ul {
                display: block;
            }

            // tranzitie hover meniu nivele secundare
            > a, > div {
                color: var(--culoare-text-contrast);
            }
        }
    }

    // ascundere efect subliniere
    > li::before {
        display: none;
    }

    // ascundere submeniuri
    ul {
        display: none;
    }
}

// animatie afisare meniu
@keyframes afisare_meniu {
    0% {
        transform: rotate(-90deg);
        opacity: 0;
    }

    100% {
        transform: rotate(0deg);
        opacity: 1;
    }
}

// animatie afisare hamburger
@keyframes afisare_hamburger {
    0% {
        opacity: 0;
        background-color: magenta;
        transform: rotate(-90deg);
    }

    50% {
        opacity: 0.7;
        transform: rotate(-30deg);
    }

    100% {
        opacity: 1;
        background-color: black;
        transform: rotate(0deg);
    }
}
