<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Bookland: Magazin de cărți digitale</title>
    <meta name="keywords" content="bookland, cărți digitale, ebook, bibliotecă virtuală">
    <meta name="description" content="Magazin online de cărți digitale. Oferte. Bestsellere. Cărți nou apărute.">
    <%- include("../fragmente/head.ejs") %>
</head>
<body>
    <!-- Header -->
    <%- include("../fragmente/header.ejs") %>

    <!-- Main content -->
    <main>
        <section style="margin-top:2rem;">
            <div class="container my-4 py-4 bg-light text-center">
                <h1 class="display-2 mb-4">Bibliotecă</h1>
                <button class="btn btn-primary">Accesează biblioteca</button>
                <button class="btn btn-link">Înregistrare</button>
            </div>
            <%- include("../fragmente/galerie-statica.ejs") %>
        </section>
    </main>

    <!-- Footer -->
    <%- include("../fragmente/footer.ejs") %>
</body>
