<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Bookland: Magazin de cărți digitale</title>
    <meta name="keywords" content="bookland, cărți digitale, ebook, bibliotecă virtuală">
    <meta name="description" content="Magazin online de cărți digitale. Oferte. Bestsellere. Cărți nou apărute.">
    <%- include("../fragmente/head.ejs") %>
</head>
<body>
    <!-- Header -->
    <%- include("../fragmente/header.ejs") %>

    <!-- Main content -->
    <main>
        <section style="margin-top:2rem;">
            <h1>Biblioteca virtuală</h1>
            <%- include("../fragmente/galerie-statica.ejs") %>
        </section>
    </main>

    <!-- Footer -->
    <%- include("../fragmente/footer.ejs") %>
</body>
