<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Bookland | Dezautentificare</title>
    <meta name="keywords" content="bookland, cărți digitale, ebook, bibliotecă virtuală, produse">
    <meta name="description" content="Magazin online de cărți digitale. Oferte. Bestsellere. Cărți nou apărute.">

    <%- include("../fragmente/head") %>    
</head>
<body>
    <!-- Header -->
    <%- include("../fragmente/header") %>

    <!-- Main content -->
    <main class="container">
        <div class="alert alert-light mt-3 mb-0" role="alert">
            Ai fost dezautentificat cu succes.
        </div>
    </main>

    <!-- Footer -->
    <%- include("../fragmente/footer") %>
</body>
</html>
