body {
    --culoare-principala: #18E000;
    --culoare-background: #55E645;
    --culoare-text: #0A6100;
    --culoare-border: #0F9400;
    --culoare-highlight: #11AD00;
    --culoare-link: #94005F;
    --culoare-link-vizitat: #E00090;
}