html {
    font-size: 15px;
}

body {
    --spatiere-laterala: 0.5rem;
    --gap-sectiuni: 0.75rem;
}

header {
    height: calc(2 * var(--inaltime-meniu));
    flex-wrap: wrap;
}

header h1 {
    display: block;
    width: 100%;
    text-align: center;
}

main {
    grid-template-areas: 
        "z-welcome z-welcome"
        "z-content z-content"
        "z-table z-table"
        "z-events z-announcements"
        "z-users z-statistics"
        "z-site-info z-site-info";
    grid-template-columns: 1fr 1fr;
}

#content {
    grid-template-columns: 2fr 1fr;
}
