html {
    font-size: 14px;
    animation: none !important;
}

body {
    --spatiere-laterala: 0.25rem;
    --gap-sectiuni: 0.25rem;
}

header {
    height: var(--inaltime-meniu);
}

main.home-page {
    grid-template-areas: 
        "z-welcome"
        "z-content"
        "z-table"
        "z-events"
        "z-announcements"
        "z-users"
        "z-statistics"
        "z-site-info";
    grid-template-columns: 1fr;
}

#content {
    grid-template-areas: 
        "z-sales"
        "z-bestseller"
        "z-aside";
    grid-template-columns: 1fr;
}

#content > section {
    grid-column: unset;
}

#content section.suport {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
}

#content section.suport h2 {
    grid-column: unset;
}
