/* ascundere meniu mobil */
#hamburger, #ch-meniu {
    display: none;
}

/* variabile meniu */
body {
    --inaltime-meniu: 48px;
    --latime-buton: 160px;
    --culoare-meniu: var(--culoare-background);
    /* --culoare-border: var(--culoare-border); */
}

/* container meniu */
nav {
    --text-meniu: black;
    position: absolute;
    left: 0;
    right: 0;
    height: var(--inaltime-meniu);
}

/* resetare liste */
ul.meniu, ul.meniu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* container lista */
ul.meniu {
    display: flex;
    justify-content: center;
}

/* element meniu */
ul.meniu li {
    position: relative;
    width: var(--latime-buton);
    height: var(--inaltime-meniu);
    overflow: hidden;
    text-align: center;
    background-color: var(--culoare-background);
    transition: background-color 0.5s ease-out;
}

/* meniu nivel 1 */
ul.meniu > li::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    right: 0;
    bottom: 0;
    height: 0.3rem;
    /* background-color: var(--culoare-text); */
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, var(--culoare-text) 100%);
    transition: width 0.3s linear;
}

/* text item meniu */
ul.meniu li div, ul.meniu li a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: var(--inaltime-meniu);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--text-meniu);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.5s linear;
}

ul.meniu li div.icon {
    display: none;
}

/* submeniuri */
ul.meniu li ul {
    /* opacity: 0; */
    transform: scaleY(0);
    transition: transform 0.5s ease-in;
}

/* afisare pe hover */
ul.meniu li:hover {
    overflow: visible;
}

/* tranzitie hover meniu nivel principal */
ul.meniu > li:hover::before {
    width: var(--latime-buton);
}

/* tranzitie hover meniu nivele secundare */
ul.meniu li li:hover {
    background-color: var(--culoare-text);
}

ul.meniu li li:hover > a {
    color: var(--culoare-text-contrast);
}

/* tranzitie afisare submeniu */
ul.meniu li:hover > ul {
    transform: scaleY(100%);
}

/* border sub meniuri */
ul.meniu li li {
    border-bottom: var(--border-size) solid var(--culoare-border);
    border-left: var(--border-size) solid var(--culoare-border);
    border-right: var(--border-size) solid var(--culoare-border);
}

ul.meniu li li:first-child {
    border-top: 1px solid var(--culoare-border);
}

/* resetare aliniere sub sub meniu */
ul.meniu li li li {
    position: relative;
    left: calc(var(--border-size) * -1);
}
