.grid-produse .produs > div {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 0.5rem;
    border: var(--border-size) solid var(--culoare-border);
    border-radius: var(--border-radius);
}

.grid-produse .produs > div .imagine-prod {
    grid-row: 1 / span 3;
    grid-column: 2;
}
