<header class="full-width">
    <h1><i class="fa-solid fa-book-open"></i> Bookland</h1>
    <nav>
        <label id="hamburger" for="ch-meniu">
            <div class="icon">
                <div class="linie-1"></div>
                <div class="linie-2"></div>
                <div class="linie-3"></div>
            </div>
        </label>
        <input id="ch-meniu" type="checkbox">
        <ul class="meniu">
            <li>
                <div class="label">Acasă</div>
                <div class="icon"><i class="fa-solid fa-house"></i></div>
                <ul>
                    <li><a href="/#intampinare">Bine ai venit!</a></li>
                    <li><a href="/#oferte">Oferte</a></li>
                    <li><a href="/#carti-noi">Noi apariții</a></li>
                    <li><a href="/#bestseller">Bestseller</a></li>
                    <li><a href="/#biblioteca-digitala">Biblioteca digitală</a></li>
                    <li>
                        <a href="/#suport">Suport</a>
                        <ul>
                            <li><a href="/#intrebari-frecvente">Întrebări frecvente</a></li>
                            <li><a href="/#ghiduri-video">Ghiduri utilizare</a></li>
                            <li><a href="/#formular-contact">Formular contact</a></li>
                            <li><a href="/#date-contact">Date contact</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Produse</a>
                <ul>
                    <li><a href="/produse">Toate</a></li>
                    <% for(let optiune of locals.optiuniMeniu) { %>
                        <li>
                            <a href="/produse?tip=<%- optiune.unnest %>">
                            <%- optiune.unnest[0].toUpperCase() + optiune.unnest.slice(1) %>
                            </a>
                        </li>
                    <% } %>
                </ul>
            </li>
            <li><a href="/biblioteca-virtuala">Bibliotecă virtuală</a></li>
            <li>
                <a href="#">Contul meu</a>
                <ul>
                    <li><a href="#">Autentificare</a></li>
                    <li><a href="#">Profil</a></li>
                    <li><a href="#">Dezautentificare</a></li>
                </ul>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </nav>
</header>
